<!DOCTYPE html>
<html>
  {% include 'header.html' %}
  <body>
    <div class="create">
      <h4>Current Pizza Status: <b><td>{{ myFunc(arr['pizzaId']) }}</td></b></h4>
      <h4>Change Pizza Status</h4>
      <hr/>
      <!-- START FORM -->
        <div class="row">
          <form class="col s12" action="submitPizza" method="POST">
            <!-- State -->
              <div class="row">
                <div class="input-field col s12">
                  <select name="state">
                    <option value="" disabled selected>Choose pizza state</option>
                    <option value="production">Production</option>
                    <option value="freezing">Freezing</option>
                    <option value="packaging">Packaging</option>
                    <option value="distribution">Distribution</option>
                  </select>
                </div>
              </div>
              <!-- Timestamp/Date -->
              <div class="row">
                <div class="input-field col s6">
                  <input placeholder="Timestamp" name="timestamp" type="text" >
                </div>
                <div class="input-field col s6">
                  <input placeholder="Date" name="date" type="text" >
                </div>
              </div>
              <input class="waves-light btn our-colour" type="submit" value="Submit" name="">
              <input  onclick="location.href='/changeOwner/wholesaler';" class="waves-light btn our-colour" type="button" value="Transfer Ownership" style="color: white;"  name="">
          </form>
        </div>
      <!-- END FORM -->
    </div>
    <br>
    <div class="transactions">
      <h4>Pizza Transactions</h4>
      <hr/>
      <!-- START TABLE -->
      <table>
        <thead>
          <tr>
              <th>Transaction ID</th>
              <th>New Owner</th>
              <th>Timestamp</th>
          </tr>
        </thead>
        <tbody>
          {% for arr in transactions %}
          <tr>
            <td>{{ arr['transactionId'] }}</td>
            <td>{{ arr['newOwner'] }}</td>
            <td>{{ arr['timestamp'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <!-- END TABLE -->
            
    </div>
  </body>
</html>
